<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LimpiezasPalmeralForms.Properties.Settings.ConexionProveedor"
            connectionString="Data Source=(local)\sqlexpress;Initial Catalog=PalmeralGenNHibernate;User ID=nhibernateUser"
            providerName="System.Data.SqlClient" />
        <add name="LimpiezasPalmeralForms.Properties.Settings.ConexionNomina"
            connectionString="Data Source=(local)\sqlexpress;Initial Catalog=PalmeralGenNHibernate;User ID=nhibernateUser" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>