#Archivos de usuario
*.suo
*.user
*.sln.docstates

#Build results
[Dd]ebug/
[Rr]elease/
x86/
build/
[Bb]in/
[Oo]bject/

InitializeDB/bin/Debug/*
InitializeDB/Program.cs
InitializeDB/CreateDB.cs
LimpiezasPalmeralForms/bin/*
LimpiezasPalmeralTest/bin/*
PalmeralGenNHibernate/bin/*
PalmeralGenNHibernate.v12.suo
LimpiezasPalmeralForms/obj/Debug/*.txt
LimpiezasPalmeralForms/LimpiezasPalmeralForms.csproj
InitializeDB/obj/*
LimpiezasPalmeralForms/obj/Debug/*
PalmeralGenNHibernate/obj/Debug/*
LimpiezasPalmeralTest/obj/Debug/*